<!-- Breadcrumb -->
<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
        @*<li><a href="index.html">Home</a></li>
            <li><a href="#"><span>speciality pages</span></a></li>*@
        <li class="active"><span>Home</span></li>
    </ol>
</div>
<!-- /Breadcrumb -->
