<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span>Setup</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_co"><div class="pull-left"><i class="zmdi zmdi-local-store mr-20"></i><span class="right-nav-text">Company</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_co" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="~/Company/Add">Add</a>
                </li>
                <li>
                    <a href="~/Company">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_lo"><div class="pull-left"><i class="zmdi zmdi-my-location mr-20"></i><span class="right-nav-text">Location</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_lo" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="panels-wells.html">Add</a>
                </li>
                <li>
                    <a href="modals.html">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dp"><div class="pull-left"><i class="zmdi zmdi-satellite mr-20"></i><span class="right-nav-text">Department</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_dp" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="~/Department/Add">Add</a>
                </li>
                <li>
                    <a href="~/Department">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_cn"><div class="pull-left"><i class="zmdi zmdi-map mr-20"></i><span class="right-nav-text">Country</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_cn" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="~/Country/Add">Add</a>
                </li>
                <li>
                    <a href="/Country">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_ci"><div class="pull-left"><i class="zmdi zmdi-city mr-20"></i><span class="right-nav-text">City</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_ci" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="~/City/Add">Add</a>
                </li>
                <li>
                    <a href="~/City">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_un"><div class="pull-left"><i class="zmdi zmdi-money-box mr-20"></i><span class="right-nav-text">Unit</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_un" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="~/Unit/Add">Add</a>
                </li>
                <li>
                    <a href="~/Unit">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_pg"><div class="pull-left"><i class="zmdi zmdi-group-work mr-20"></i><span class="right-nav-text">Product Group</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_pg" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="panels-wells.html">Add</a>
                </li>
                <li>
                    <a href="modals.html">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_ct"><div class="pull-left"><i class="zmdi zmdi-bookmark mr-20"></i><span class="right-nav-text">Customer Type</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_ct" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="panels-wells.html">Add</a>
                </li>
                <li>
                    <a href="modals.html">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_cu"><div class="pull-left"><i class="zmdi zmdi-folder-person mr-20"></i><span class="right-nav-text">Customer</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_cu" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="panels-wells.html">Add</a>
                </li>
                <li>
                    <a href="modals.html">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_da"><div class="pull-left"><i class="zmdi zmdi-book-image mr-20"></i><span class="right-nav-text">Delivery Address</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_da" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="panels-wells.html">Add</a>
                </li>
                <li>
                    <a href="modals.html">List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_sa"><div class="pull-left"><i class="zmdi zmdi-balance mr-20"></i><span class="right-nav-text">Sale Area</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_sa" class="collapse collapse-level-1 two-col-list">
                <li>
                    <a href="panels-wells.html">Add</a>
                </li>
                <li>
                    <a href="modals.html">List</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
<!-- /Left Sidebar Menu -->
